.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 5rem;

  .searchLine {
    position: relative;
    margin: 0 auto;
    top: -5vw;
    width: 56vw;
    background-color: #0a4333;
    border-radius: 0vw 0vw 5vw 5vw;
    padding-top: 5vw;
    padding-bottom: 3vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2),
      inset 0 0 5px rgba(255, 255, 255, 0.5);
    .form-control {
      margin: 0 auto;
      width: 50vw;
    }
  }

  .col {
    margin-bottom: 2rem;

    .cardLine {
      display: flex;
      flex-direction: column;
      background-color: #13684b;
      width: 95vw;
      height: 100%;
      border-radius: 10px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

      .card-head {
        color: #ffffff;
        font-size: 1rem;
        font-weight: 600;
        text-align: start;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .card-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #0a4333;
        width: 100%;
        height: 100%;
        box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);

        .card-tittle {
          font-family: "Segoe UI";
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: #ffffff;
          font-size: 2rem;
          font-weight: 400;
          text-align: start;
          .iconMap {
            width: 10vw;
          }
        }

        .modalLine {
          overflow-y: hidden;
        }

        .lineButtons {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          height: 100%;
          color: #ffffff;
          margin-bottom: 1rem;

          .btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background-color: #ffffff;
            color: #13684b;
            font-size: 2rem;
            font-weight: 600;
            margin: 0 0.5rem;
            cursor: pointer;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }
      }

      .card-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        .Horario {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          height: 100%;
          color: #ffffff;
          font-size: 1rem;
          font-weight: 400;
          text-align: start;
          padding: 0 1rem;
        }

        .Pasaje {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          height: 100%;
          color: #ffffff;
          font-size: 1rem;
          font-weight: 400;
          text-align: start;
          padding: 0 1rem;
        }
      }
      .stopDesplegable{
        position:absolute;
      }
      .cardBodyStop {
        display: flex;
        justify-content: space-around;
        .cardStopInt {
          display: flex;
        }
        .cardStopContent {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 2.5px solid #e5c034;
          padding-top: 3.5vw;
          .titleStop {
            color: #ded6d6;
            font-size: 4vw;
            text-align: center;
            margin-left: 2vw;
            text-wrap: wrap;
          }
          .descriptionStop {
            color: #bbb9b9;
            font-size: 2.5vw;
            text-align: center;
            margin: 0 1vw;
            text-wrap: wrap;
          }
        }
      }
    }
  }
}
