// .NavBar{
// background-color: #13684B;
// color: #fff;
// padding: 10px;
// display: flex;
// justify-content: space-between;
// align-items: center;
// position: fixed;
// top: 0;
// z-index: 1500;
// width: 100%;
// height: 60px;
// min-width: 245px;
// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

//     .burguer{
//         background-color: #ddd;
//     }

//     .Logo{
// font-size: 1.5rem;
// font-weight: 600;
// color: #fff;
// text-decoration: none;
//     }

//     .Collapse{
// background-color: #0A4333;
// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// margin-left: -12px;
// margin-right: -12px;
// margin-bottom: -8px;

//         .buttons{
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             gap: 10px;
//             list-style: none;
//             padding: 1em;

//             .btn{
//                 padding: 5px 10px;
//                 border: 1px solid #fff;
//                 border-radius: 5px;
//                 text-decoration: none;
//                 color: #fff;
//                 font-size: 1rem;
//                 font-weight: 600;
//                 transition: all 0.3s ease-in-out;
//                 cursor: pointer;

//                 &:hover{
//                     background-color: #fff;
//                     color: #333;
//                 }
//             }
//         }
//     }
// }

.navbar {
  background-color: #13684b;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1500;
  width: 100%;
  height: 60px;
  min-width: 245px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .title1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
  }

  .botonDesplegable {
    background-color: #ddd;
    margin-bottom: 10px;
  }

  .desplegable {
    background-color: #0a4333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 45vw;
    margin-right: -25px;
    margin-bottom: -10px;
    width: 100%;

    .buttons {
      color: #dfdfdf;
      font-family: Segoe UI;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 12px;
      list-style: none;
      box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);

      .btn {
        margin-top: 10px;
        color: #dfdfdf;
        width: 48vw;
        border-bottom: 1px solid #e5c034;

        padding: 5px 10px;
        text-align: start;

        &:hover {
          background-color: #052111;
          color: #dfdfdf;
        }
      }
      @media screen and (max-width: 1000px) {
        .btn {
          margin-top: 10px;
          color: #dfdfdf;
          width: 46vw;
          border-bottom: 1px solid #e5c034;
          padding: 5px 10px;
          text-align: start;
        }
      }
      @media screen and (max-width: 800px) {
        .btn {
          margin-top: 10px;
          color: #dfdfdf;
          width: 45vw;
          border-bottom: 1px solid #e5c034;
          padding: 5px 10px;
          text-align: start;
        }
      }
      @media screen and (max-width: 600px) {
        .btn {
          margin-top: 10px;
          color: #dfdfdf;
          width: 25vw;
          border-bottom: 1px solid #e5c034;
          padding: 5px 10px;
          text-align: start;
        }
      }
      @media screen and (max-width: 450px) {
        .btn {
          margin-top: 10px;
          color: #dfdfdf;
          width: 21vw;
          border-bottom: 1px solid #e5c034;
          padding: 5px 10px;
          text-align: start;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .desplegable {
      background-color: #0a4333;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-left: 60vw;
      margin-right: -25px;
      margin-bottom: -10px;
      width: 100%;
    }
  }
}

// @media screen and (max-width: 300px) {
//     .Collapse{
//         display: flex;
//         background-color: #222;
//         margin-top: .6em;
//         width: 100vw;
//         flex-direction: column;

//         .buttons{
//             display: flex;
//             flex-direction: column;
//             list-style: none;
//             padding: 1em;
//         }
//     }
// }
