.FormRecoverPass {
  text-align: center;
  color: azure;
  font-size: 2vw;
  .inputPassRecover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    .inputPass{
        text-align: center;
    }
  }
  .confirmarPass {
    padding-top: 2vw;
    text-align: center;
    margin-bottom: 5%;
    .inputRecoverPass {
      text-align: center;
    }
  }
}

.buttonsRecovery {
  padding-top: 3vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .btnRecovery{
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
    .FormRecoverPass{
        font-size: 5vw;
        .RecoverPass{
            font-size: 5vw;
        }
    }
  }