.containerRecuperarPassword{
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 85%;
    height: 50%;
    background-color: #13684B;
    top: 30%;
    left: 8%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: -1;

    .tituloRestablecerContraseña{
        color: #FFFFFF;
        position: absolute;
        top: 20px;
        text-align: center;
        font-family: 'Segoe UI';
        font-style: normal;

        .rayaTitulo{
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    
    .containerInternoPassword{
        position: absolute;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        top: 23%;
        height: 73%;
        width: 90%;
        background-color: #0A4333;
        box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .introducirCorreoPassword{
        position: absolute;
        color: #FFFFFF;
        margin-top: 5px;
        margin-left: 38px;
        margin-right: 15px;
        font-size: 120%;
    }
    
    .correoPassword{
        position: absolute;
        margin-top: 70px;
        color: #FFFFFF;
        font-size: 35px;
    }
    
    .inputCorreoPassword{
        position: absolute;
        margin-top: 135px;
        width: 90%;
        background-color: #BBBBBB;
    }
    
    .buttonBuscarPassword{
        position: absolute;
        top: 200px;
        right: 20px;
        height: 70px;
        width: 40%;
        background: #E5C034;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }
    
    .buttonCancelarPassword{
        position: absolute;
        top: 200px;
        left: 20px;
        height: 70px;
        width: 126px;
        background: #E5C034;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }
    
    a{
        text-decoration: none;
        color: #000;
    }
}
