.containerUsers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  margin: auto;
  margin-top: 5em;
  background-color: #13684b;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  .tituloUser {
    margin-top: 2vh;
    color: #ffffff;
    text-align: center;
    font-family: "Segoe UI";
    font-style: normal;

    .rayaTitulo {
      background-color: #e5c034;
      border: 1px solid #e5c034;
    }
  }

  h3 {
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-family: "Segoe UI";
    font-style: normal;
  }

  .btn {
    margin: auto;
    margin-top: 1em;
  }

  Table {
    text-align: center;
  }

  .userTable td {
    color: #000000;
    background-color: #ffffff;
    .btn {
      margin: 1em 0.5em;
    }
  }
  .userTable tr {
    color: #000000;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 845px) {
  .userTable {
    width: 85vw;
  }
}

// Path: src\Assets\_Users.scss
